* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #fff2cc;
    color: #212738;
}

.content {
    margin: 30px;
}
/* style header and nav bar */
header {
    padding: 20px 35px;
    background-image: url("../images/hero.png");
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

header h1 {
    font-size: 48px;
    color: #212738;
}

header a {
    color: #212738;
    text-decoration: none;
}

header nav {
    margin: 7px 0;
    float: right;
    padding-top: 15px;
    margin-right: 20px;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

section {
    padding: 20px;
}

/* style about me section */



/* style projects grid */

.projects-grid-container {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.5em;
}

.projects-grid-item {
    border: solid;
    padding: 1em;
    font-weight: bold;
}

.box1 {
    color: #212738;
    grid-column: 1/3;
    grid-row: 1/3;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.box2 {
    background-image: url("../images/search-engine-optimization.jpg");
    background-size: cover;
    color: #a3e4d7;
    grid-column: 3/4;
    grid-row: 1/2;
}

.box3 {
    background-color: #d1d646;
    color: #f97068;
    grid-column: 3/4;
    grid-row: 2/3;
}

.box4 {
    background-color: #a3e4d7;
    color: #EE3333;
    grid-column: 1/2;
    grid-row: 3/4;
}

.box5 {
    background-color: #212738;
    color: #d1d646;
    grid-column: 2/3;
    grid-row: 3/4;
}

a {
    text-decoration: none;
}

/* style contact me section */


.contact-info a{
    color: #EE3333;
}